@font-face {
    font-family:avant;
    src: url(fonts/texgyreadventor-regular.otf);
}
h2 { 
	font-family:"Avant"; 
	font-size: 42px;
    text-align: left;
    margin:50px 20px 20px 20px;
   }
body {
	margin:0;
	background-image: url(images/textura.png);
	background-repeat: repeat;
}
#container{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
#topbar {
	width:100%;
	margin:0;
	background-image:url(images/sample.png) ;
	background-repeat:repeat-x;
	height:26px;
}

.right {
	float:right;
	margin-top:0px;
	margin-right:102px;

}
.right >li {
	float:left;
	color:#d6d6d7;
	list-style: none;
	vertical-align: middle;
	line-height: 24px;
	

}
.right>li a {
	color:#d6d6d7;
	text-decoration: none;
}
.bara {
	border-right:#d6d6d7 2px solid;
	margin-right:5px;
	padding-right:5px;
}
.logo{
	margin-left:0px;
	z-index:7;
	margin-bottom:-3px;
}

.menu{
	z-index:8;
	background-image:url(images/meniu_piece.png);
	background-repeat: repeat-x;
	width:100%;
	height:30px;
	border-top: white 1px solid;
	border-bottom: white 1px solid;
	margin-top:-5px;
}
.menu-text{
	list-style-type: none;
	margin-left: 20px;
	-webkit-padding-start: 0px !important;
	margin: 0px 0px 0px 20px;
}
#bar{
	visibility: hidden;
}

.menu-text > li:nth-child(2) #bar{
	visibility: hidden;
	position: absolute;
	background: url(images/triunghi.png) center 0px no-repeat;
	background-color:#323232;
	margin:-1px 0px 0px -20px;
	padding-top:10px;
	padding-left: 10px;
	height:150px;
	width:120px;
	text-align: left;
	color:#fafafa;
	font-family: "Calibri";
	font-size: 15px;
	line-height: 24px;
	opacity:.9;
	z-index:15;
}
.menu-text > li:nth-child(2):hover #bar{
	visibility: visible;
	position: absolute;
	background-color:#323232;
	margin:0px 0px 0px -20px;
	padding-left: 10px;
	height:150px;
	width:120px;
	text-align: left;
	color:#fafafa;
	font-family: "Calibri";
	font-size: 15px;
	line-height: 24px;
	opacity:.9;
	z-index:15;
}
#bar a {
	font-size: 15px;
	color:#fafafa;
	font-family: "Calibri";
	line-height: 24px;
	margin-top: 10px;
	display: block;
}
#bar > li{
	margin-top:10px;
}

.menu-text  >li {
	float:left;
	line-height:30px;
	position:relative;
	vertical-align: middle;
	padding-right:30px;
}

.menu-text > li a {
	color:#d6d6d7;
	font-size:1.2em;
	text-decoration: none;
}
.menu-text > li a:hover{
	color:#f6ce49;
}

#slider{
	width:100%;
	background-color:#eeeeee;
	height: 370px;
	border-bottom: white 1px solid;
	border-top:white 1px solid;
	margin-top:1px;
}
#tx{
	font-family: "Calibri";
	font-size:14px;
	line-height: 24px;
	color:#444444;
	margin:0px 15px 20px 20px;
}
#reg-now{
	background: url(images/register.png);
	width:217px;
	height: 45px;
	margin-left:200px;
	border: none;
	cursor: pointer;
}

#left{
	float:left;
	border-right: white thin solid;
	width:450px;
	position: absolute;
}

#right{
	float:right;
	position: relative;
	width:50%;
	height: 380px;
}
#register{
	height:135px;
	padding-top: 45px;
}
.buton{
	width:30.9%;
	/*border: red thin solid;*/
	height:90px;
	float:left;
}

 .verde  {
 	background:url(images/b1.png)no-repeat 0 0;
 	width : 280px;
 	height: 89px;
 	margin-bottom:-1px;
	margin-left:20px;
 }

.albastru{
	margin-left:10px;
	background:url(images/b2.png)no-repeat 0 0;
 	width : 280px;
 	height: 89px;
 	margin-bottom:-1px;
	margin-right:10px;
}
.portocaliu{
	margin-right:20px;
	background:url(images/b3.png)no-repeat 0 0;
 	width : 280px;
 	height: 89px;
 	margin-bottom:-1px;
}

.content {
	background-color:white;
	height:900px;
	border-top: #eeeeee 1px solid;
	margin-top:0px;
}
#main-content >h1 
{	font-size: 1em !important;
	background-image: url(images/headline.png);
	background-repeat: no-repeat;
	display: block;
	height: 46px;
	margin-left: -10px;
	text-indent: 35px;
	vertical-align: middle;
	line-height: 27px;
}
.headline{
	font-family: "Calibri";
	font-size: 18px;
	color:#fafafa;

}

.green > li{
	list-style-type: none;
	width:280px;
	height: 90px;	
}
.green li {float:left;}
.green li:nth-child(1){
	background:url(images/pic1.png)no-repeat 0 0;
	position: absolute;
	width:117px;
	height:118px;
	margin-top:-15px;
	margin-left:-10px;
}
.green li:nth-child(2){
	background:url(images/agrafa1.png)no-repeat 0 0;
	position: absolute;
	width:50px;
	height:53px;
	margin-top:-24px;
	margin-left:20px;
}
.green li:nth-child(3) {
	font-family: "Calibri";
	font-size:21px;
	color:#fafafa;
	font-weight:bold;
	-webkit-text-stroke:0.3px #9ac80d;
	height:inherit;
	width: inherit;
	margin:10px 30px 35px 110px
	
}
.green li:nth-child(4){
	font-family: "Calibri";
	font-size:14px;
	margin-left:110px;
	margin-bottom:8px;
	color:#638400;
	height:inherit;
	width: inherit;
	margin:-30px 0px 40px 110px
}

.blue > li{
	list-style-type: none;
	width:280px;
	height: 90px;
}
.blue  li {float:left;}
.blue  li:nth-child(1){
	background:url(images/pic2.png)no-repeat 0 0;
	position: absolute;
	width:117px;
	height:118px;
	margin-top:-15px;
	margin-left:-10px;
}
.blue  li:nth-child(2){
	background:url(images/agrafa2.png)no-repeat 0 0;
	position: absolute;
	width:50px;
	height:53px;
	margin-top:-24px;
	margin-left:20px;
}
.blue  li:nth-child(3) {
	font-family: "Calibri";
	font-size:21px;
	color:#fafafa;
	font-weight:bold;
	-webkit-text-stroke: .4px #106bcf;
	height:inherit;
	width: inherit;
	margin:20px 30px 35px 110px
	
}
.blue  li:nth-child(4){
	font-family: "Calibri";
	font-size:14px;
	margin-left:110px;
	margin-bottom:8px;
	color:#05478c;
	height:inherit;
	width: inherit;
	margin:-30px 0px 30px 110px
}
.orange li {float:left;clear:both;}
.orange > li{
	list-style-type: none;
	width:280px;
	height: 90px;
}
.orange li:nth-child(1){
	background:url(images/pic3.png)no-repeat 0 0;
	position: absolute;
	width:117px;
	height:118px;
	margin-top:-15px;
	margin-left:-10px;
}
.orange  li:nth-child(2){
	background:url(images/agrafa3.png)no-repeat 0 0;
	position: absolute;
	width:50px;
	height:53px;
	margin-top:-24px;
	margin-left:20px;
}
.orange  li:nth-child(3) {
	font-family: "Calibri";
	font-size:21px;
	margin-left:110px;
	margin-top:8px;
	color:#fafafa;
	font-weight:bold;
	text-align: left;
	float:left;
	-webkit-text-stroke: .4px #d85203;
	 width:inherit;
	margin:15px 40px 30px 110px
}
.orange li:nth-child(4){
	font-family: "Calibri";
	font-size:14px;
	margin-left:110px;
	margin-bottom:8px;
	color:#b04100;
	height: inherit;
	width :inherit;
	margin:-70px 0px 40px 110px
}
.blog li:nth-child(1){
	margin-right:40px;
	margin-left:25px;
}
.blog li:nth-child(3){
	margin-right:40px;
	margin-left:25px;
}
.blog {
	list-style-type:none;

}
.blog > li {
	float:left;
	width:44%;
	height:180px;
	margin-bottom:20px;
}
.post li:nth-child(1){
	height:20px;
	width:300px;
	border:none;
	margin-left:0px;
	color:#555555;
	font-family:"Calibri";
	font-size:20px;
	font-style: normal;
	padding-bottom:10px;
}
.post li:nth-child(2){
	
}
.post #im1
{background:url(images/img1.png) no-repeat;
	width:163px;
	height:108px;
	margin-top:10px;
	position: relative;
	float:left;
}
.post #im2
{background:url(images/img2.png) no-repeat;
	width:163px;
	height:108px;
	margin-top:10px;
	position: relative;
	float:left;
}
.post #im3
{background:url(images/img3.png) no-repeat;
	width:163px;
	height:108px;
	margin-top:10px;
	position: relative;
	float:left;
}
.post #im4
{background:url(images/img4.png) no-repeat;
	width:163px;
	height:108px;
	margin-top:10px;
	position: relative;
	float:left;
}
.post li:nth-child(3){
	font-family: "Calibri";
	font-size: 15px;
	color:#555555;
	line-height:18px;
	width:230px;
	height:80px;
	margin:10px 0px 0px 7px;
	display: inline-block;
	
}
.post li:nth-child(4){
	font-family: "Calibri";
	font-size: 14px;
	color:#4096ee;
	line-height:17px;
	width:80px;
	height:20px;
	margin:-60px 0px 0px 10px;
	display: inline-block;
	
}
.post li:nth-child(5){
	background:url(images/butonSageata.png)no-repeat;
	width:13px;
	height:14px;
	margin:-18px 0px 0px 242px;


	
}
.clearfix{
	width:0px;
	height:0px;
	border:none  ;
	margin:0px 0px 0px 0px ;
	float:none;
}
 
#linie {
    clear:both;
    width:100%;
    background-color:#d1d1d1;
    height:1px;
    margin-top:20px;
    margin-bottom:5px;
}

/* blocul 1 */
.bloc1  {
	width:200px;
	height: 100px;
	margin:10px 10px 10px 10px;
	float:left;
}
.bloc1 li:nth-child(1){
	background: url(images/bl1_1.png) no-repeat;
	width:41px;
	height:40px;
	margin-top:30px;
	margin-left:10px;
	float:left;


}
.bloc1 li:nth-child(2){
	width:80px;
	height:20px;
	float:left;
	margin-top:25px;
	margin-left:20px;
	font-family: "Calibri";
	font-size: 18px;
	color:#343434;
	}
.bloc1 li:nth-child(3){
	width:110px;
	height:20px;
	float:left;
	margin :8px 0px 0px 20px;
	font-family: "Arial";
	font-size: 12px;
}
.bloc1:hover{cursor: pointer;}
.bloc1:hover>li:nth-child(1){
	background: url(images/bl1_0.png) no-repeat;
	width:41px;
	height:40px;
	margin-top:30px;
	margin-left:10px;
	float:left;
}
.bloc1:hover>li:nth-child(2){
	width:80px;
	height:20px;
	float:left;
	margin-top:25px;
	margin-left:20px;
	font-family: "Calibri";
	font-size: 18px;
	color:#4096ee;
	
}

.linef{
	background:url(images/line.png)no-repeat;
	height:62px;
	width:1px;
	float:left;
	margin-top:25px;
}
/*blocul 2 */
.bloc2  {
	width:200px;
	height: 100px;
	margin:10px 10px 10px 10px;
	float:left;
}
.bloc2 li:nth-child(1){
	background: url(images/bl2_0.png) no-repeat;
	width:45px;
	height:40px;
	margin-top:30px;
	margin-left:10px;
	float:left;


}
.bloc2 li:nth-child(2){
	width:80px;
	height:20px;
	float:left;
	margin-top:25px;
	margin-left:20px;
	font-family: "Calibri";
	font-size: 18px;
	color:#343434;
	}
.bloc2 li:nth-child(3){
	width:110px;
	height:20px;
	float:left;
	margin:8px 0px 0px 20px;
	font-family: "Arial";
	font-size: 12px;
}
.bloc2:hover{cursor: pointer;}
.bloc2:hover>li:nth-child(1){
	background: url(images/bl2_1.png) no-repeat;
	width:45px;
	height:40px;
	margin-top:30px;
	margin-left:10px;
	
}
.bloc2:hover>li:nth-child(2){
	width:80px;
	height:20px;
	
	margin-top:25px;
	margin-left:20px;
	font-family: "Calibri";
	font-size: 18px;
	color:#4096ee;
}

/* blocul 3 */
.bloc3  {
	width:200px;
	height: 100px;
	margin:10px 10px 10px 10px;
	float:left;
}
.bloc3 li:nth-child(1){
	background: url(images/bl3_0.png) no-repeat;
	width:42px;
	height:43px;
	margin-top:25px;
	margin-left:10px;
	float:left;
}
.bloc3 li:nth-child(2){
	width:80px;
	height:20px;
	float:left;
	margin-top:25px;
	margin-left:20px;
	font-family: "Calibri";
	font-size: 18px;
	color:#343434;
	}
.bloc3 li:nth-child(3){
	width:110px;
	height:20px;
	float:left;
	margin:8px 0px 0px 19px;
	font-family: "Arial";
	font-size: 12px;
}
.bloc3:hover{cursor: pointer;}
.bloc3:hover>li:nth-child(1){
	background: url(images/bl3_1.png) no-repeat;
	width:42px;
	height:43px;
	margin-top:25px;
	margin-left:10px;
	
}
.bloc3:hover>li:nth-child(2){
	width:80px;
	height:20px;
	margin-top:25px;
	margin-left:20px;
	font-family: "Calibri";
	font-size: 18px;
	color:#4096ee;
}
/* blocul 4 */
.bloc4  {
	width:200px;
	height: 100px;
	margin:10px 10px 10px 10px;
	float:left;
}
.bloc4 li:nth-child(1){
	background: url(images/bl4_0.png) no-repeat;
	width:45px;
	height:55px;
	margin-top:17px;
	margin-left:0px;
	margin-bottom: 10px;
	float:left;
}
.bloc4 li:nth-child(2){
	width:130px;
	height:20px;
	float:left;
	margin-top:25px;
	margin-left:20px;
	font-family: "Calibri";
	font-size: 18px;
	color:#343434;
	}
.bloc4 li:nth-child(3){
	width:130px;
	height:20px;
	float:left;
	margin:8px 0px 0px 20px;
	font-family: "Arial";
	font-size: 12px;
}
.bloc4:hover{cursor: pointer;}
.bloc4:hover>li:nth-child(1){
	background: url(images/bl4_1.png) no-repeat;
	width:45px;
	height:55px;
	margin-top:17px;
	margin-left:0px;
	float:left;
}
.bloc4:hover>li:nth-child(2){
	width:130px;
	height:20px;
	float:left;
	margin-top:25px;
	margin-left:20px;
	font-family: "Calibri";
	font-size: 18px;
	color:#4096ee;
}

#footer{
	background:url(images/footer.jpg) repeat-x 0 0 ;
	width:100%;
	height:152px;
	margin-top:-142px;
	
	
}
#container-footer{
	margin-left:auto;
	margin-right:auto;
	width:900px;
	height:142px;
	margin-top:10px;
}
h5 {
	font-family: "Calibri";
	font-size: 14px;
	width:150px;
	height: 30px;
	color:#ffffff;
	padding-top:20px;
	margin-left:35px

}
#golfer{
	background:url(images/golfer.png) no-repeat;
	width:24px;
	height:44px;
	margin:15px 15px 15px 20px;
}
#gm{
	float:left;
	margin:-40px 70px 60px 50px;
	font-family:"Arial";
	font-size: 19px;
	color:#d4d4d4;

}
.fdown {
	width:220px;
	height: 145px;
	list-style-type: none;
	margin:-120px 0px 0px 0px ;
	float:left;
	
}

.member li a { 
list-style-type:none;
text-decoration: none;
color:#fafafa;
}
.member li:nth-child(1){
	margin-left:30px;
	margin-top:10px;
	font-family: "Calibri";
	font-size: 19px;
	color:#faed75;
}
.member li:nth-child(2){
	background:url(images/hrline.png) no-repeat;
	width:201px;
	height: 1px;
	margin-top:5px;
	margin-bottom:5px;
}

.member li:nth-child(3){
	font-family: "Calibri";
	font-size: 14px;
	color:#ffffff;
	margin:10px 0px 10px 10px;
}
.member li:nth-child(4){
	font-family: "Calibri";
	font-size: 14px;
	color:#ffffff;
	margin:10px 0px 10px 10px;
}
.member li:nth-child(5){
	font-family: "Calibri";
	font-size: 14px;
	color:#ffffff;
	margin:10px 0px 10px 10px;
}
.member li:nth-child(6){
	font-family: "Calibri";
	font-size: 14px;
	color:#ffffff;
	margin:10px 0px 10px 10px;
}
.floting{
	position: relative;
	left:102%;
}
.floting ul {
	position: fixed;
	top:240px;
}
 #fl1 {
	background:url(images/twitter.png) no-repeat;
	width:44px;
	height: 44px;
	cursor: pointer;
	display: block;
}
 #fl2{
	background:url(images/facebook.png) no-repeat;
	width:44px;
	height: 49px;
	cursor: pointer;
	display: block;
}
 #fl3{
	background:url(images/linkedin.png) no-repeat;
	width:44px;
	height: 49px;
	cursor: pointer;
	display: block;
}
  #fl4{
	background:url(images/youtube.png) no-repeat;
	width:44px;
	height: 49px;
	cursor: pointer;
	display: block;
}
.nav-buttons{
	margin-top:-100px;
	margin-left:180px;
	margin-bottom:0px;
	position:absolute;
	clear: both;

}
.nav-buttons li:nth-child(1){
	background:url(images/bullet1.png);
	width:20px;
	height:20px;
	float:left;
	cursor: pointer;
}
.nav-buttons li:nth-child(2){
	background:url(images/bullet1.png);
	width:20px;
	height:20px;
	float:left;
	cursor: pointer;
	
}
.nav-buttons li:nth-child(3){
	background:url(images/bullet1.png);
	width:20px;
	height:20px;
	float:left;
	cursor: pointer;
}

.slid  {
	margin-top:60px;
	margin-left:60px;
	width:100%;
	height:100%;
	position:relative;
	
}
#s2 {
	background: url(images/slid2.png) no-repeat;
	width:349px;
	height:241px;
	opacity: 1;
	margin-top:10px;
	margin-left:-15px;
	position: absolute;
	z-index: 2;
}

#s1{
	background: url(images/slid1.png) no-repeat;
	width:349px;
	height:241px;
	margin-top:20px;
	margin-left:-30px;
	position:absolute;
	z-index:3;
}
#s3{
	background: url(images/slid3.png) no-repeat;
	width:349px;
	height:241px;
	opacity: 1;
	position: absolute;
	margin-top:-5px;
	margin-right:-15px;
	z-index: 1;

}
.b-active{
	background: url(images/bullet0.png) !important;
	width:20px;
	height: 20px;
	z-index: 3;
	

}
.front {
	 z-index:4 !important;
}


.blog-post{
	width:45%;
	height:150px;
	float:left;
	margin-left:25px;
	margin-bottom:50px;
}
.right-side{
	margin-left:30px;
}
.post-image{
	width:163px;
	height:108px;
	float:left;
}
.excerpt{
	font-family: "Calibri";
	font-size: 15px;
	color: #555555;
	line-height: 18px;
	width: 230px;
	height: 80px;
	margin: 10px 0px 0px 7px;
	display: inline-block;
}
.titlu{
	height: 20px;
	width: 300px;
	border: none;
	margin-left: 0px;
	color: #555555;
	font-family: "Calibri";
	font-size: 20px;
	font-style: normal;
	padding-bottom: 10px;
}
.read-more{
	font-family: "Calibri";
	font-size: 14px;
	color: #4096ee;
	line-height: 17px;
	width: 80px;
	height: 20px;
	margin: -3px 0px 0px 10px;
	display: inline-block;
}
.arrow{
	width: 13px;
	height: 14px;
	margin: -14px 0px 0px 69px;
	float: left;
}

.spacer{
	margin-bottom:66px !important;
}
#titlu
{
	font-family: "Arial";
	font-size: 20px;
	color:#000000;
	margin-top:40px;
	margin-left:25px;
}
#text{
	font-family: "Arial";
	font-size: 14px;
	color:#000000;
	margin:30px 10px 60px 25px;
}
#container_tab {
	width:880px;
	height: 500px;
	margin:0px 20px 0px 20px;

}
#tabel
{	float:left;
	display: inline-block;
	
}
#tb1{
	height: 80px !important;
	width: 220px !important;
	background: #696969; /* Old browsers */
	background: -moz-linear-gradient(top, #696969 0%, #a2a2a2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696969), color-stop(100%,#a2a2a2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #696969 0%,#a2a2a2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #696969 0%,#a2a2a2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #696969 0%,#a2a2a2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #696969 0%,#a2a2a2 100%); /* W3C */
	display:block;
	z-index:9;
}
#td1{
	font-size: 20px;
	font-family: "Arial";
	color:#e0e0e0;
	width:100px;
	height: 50px;
	display: block;
	vertical-align: middle;
	padding:10px 10px 0px 70px;
	line-height: 25px;
	text-shadow: 0px 1px 0px rgba(146, 146, 146, 1);
}
.row_1
{
	font-family: "Arial";
	font-size:14px;
	color:#464646;
	text-align: center;
	vertical-align: middle;
	width: 220px;
	height: 45px;
	
}
#rb{
	width: 220px;
	height: 45px;
	background-color: #cbcbcb;
	border-bottom: 2px #a2a2a2 solid;
}

#gb{
	
	width: 220px;
	height: 45px;
	background-color: #ffffff;
	border-bottom: 2px #a2a2a2 solid;
}
#wb
{
	width: 220px;
	height: 45px;
	background-color:#cbcbcb;
	border-bottom: 2px #e0e0e0 solid;
}

.row_end
{
	width: 220px;
	height: 90px;
	background: url(images/sag.png) center no-repeat;
}
#tb2{

	height: 80px !important;
	width: 220px !important;
	background: #3c73ac; /* Old browsers */
	background: -moz-linear-gradient(top, #3c73ac 0%, #22538b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c73ac), color-stop(100%,#22538b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3c73ac 0%,#22538b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3c73ac 0%,#22538b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3c73ac 0%,#22538b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3c73ac 0%,#22538b 100%); /* W3C */
	float:left;
	display: block;

	

}
#td2{
	font-size: 23px;
	font-family: "Arial";
	color:#e0e0e0;
	width:220px;
	height: 80px;
	display: block;
	padding-top: 6px;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(146, 146, 146, 1);
}
#big1{
	font-size: 46px;
	font-family: "Arial";
	color:#e0e0e0;
	display: inline;
	width: 50%;
	height: 50%;
	margin:0px 0px 0px 0px;
}
#lil1{

	font-size: 16px;
	font-family: "Arial";
	color:#e0e0e0;
	display: inline;

}
#tabel2

{	vertical-align: bottom;
	float: left;
	display: inline-block;
	
}
.row_2{
	font-family: "Arial";
	font-size:14px;
	color:#464646;
	text-align: center;
	vertical-align: middle;
	width: 220px;
	height: 45px;
	-webkit-box-shadow: -3px 2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -3px 2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -3px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
#row2_end {
	width: 220px;
	height: 90px;
	border-bottom: 1px #a2a2a2 solid;
	webkit-box-shadow: -3px 1px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -3px 1px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -3px 1px 3px 0px rgba(50, 50, 50, 0.75);
	background: url(images/sign.png)no-repeat center;
}
#tb3{

	height: 110px !important;
	width: 220px !important;
	background:url(images/panglica.png)no-repeat;
	float:left;
	display: block;
}
#big2 {
	margin-top:20px;
	font-size: 56px;
	font-family: "Arial";
	color:#e0e0e0;
	display: inline;
	width: 60%;
	height: 70%;
	text-align: center;
}
#lil2{
	font-size: 22px;
	font-family: "Arial";
	color:#e0e0e0;
	display: inline;


}
#td3{
	font-size: 22px;
	font-family: "Arial";
	color:#e0e0e0;
	width:220px;
	height: 80px;
	display: block;
	padding-top: 6px;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(146, 146, 146, 1);
}
#tabel3

{	vertical-align: bottom;
	float: left;
	display: inline-block;
	height: 530px;
	margin-top: -30px;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 15px rgba(0,0,0, .75);
	 box-shadow: 0 0 15px rgba(0,0,0, .75);
	
}
.row_3{
	font-family: "Arial";
	font-size:14px;
	color:#464646;
	text-align: center;
	vertical-align: middle;
	width: 220px;
	height: 45px;
	
	
}
#row3_end {
	width: 220px;
	height: 100px;
	background: url(images/sign-red.png)no-repeat center;
}
sup{
 	font-size: 23px;
 	vertical-align:super;
 }
.row_4
{
	font-family: "Arial";
	font-size:14px;
	color:#464646;
	text-align: center;
	vertical-align: middle;
	width: 220px;
	height: 45px;
}
#row4_end{
	width: 220px;
	height: 90px;
	border-bottom: 1px #a2a2a2 solid;
	background: url(images/sign.png)no-repeat center;
}
#valid{
	background: url(images/valid.png) no-repeat center;
}
#nalid{
	background: url(images/nvalid.png) no-repeat center;
}
